body {
  backgroud-image: url("natureza.jpg");
  bckgorund-repeat: no-repeat, repeat;
  background-size: cover;
  
  font-family: arial, sans-serif;
}
h1{
  color: #08080;
    text-align: center;
}
p {
  font-size:18px;
  margin-align:20px;
  text-align: justify;
  padding:0 20px;
  line-height:1.5;
}
.button {
  background-color: #008080;
 border: none;
  color: #4B0082;
    cursor: pointer;
    padding: 10px 20px;
  text-align:center;
  text-deconration: none;
  display: inline-block;
    font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
}
.button:hover{
  backgroud-color: #005353;
}
